{% load core_tags %}
{% autoescape off %}
Hello {{ user.get_full_name|default:user.username }},

You're receiving this email because you requested a password reset for your account on {{ SITE_NAME }}.

Please click the link below to reset your password:

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

This link will expire in 24 hours.

If you didn't request this password reset, you can safely ignore this email. Your password won't be changed.

Best regards,
The {{ SITE_NAME }} Team

---
This is an automated email. Please do not reply directly.
{% endautoescape %}
